body {
    font-family: sans-serif;
    line-height: 1.4;
  }
  
  h1 {
    font-size: 150%;
  }
  li{
    display: inline;
    font-size: 200%;
  }
  p {
    margin-bottom: 10px;
  }
  
  .eqWrap {
    display: flex;
  }
  
  .eq {
    padding: 10px;
  }
  
  }
  
  .gameWrap {
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border-radius: 15%;
    border: 2px solid black;
  }
  
  